html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.shiptable {
    margin: 40px;
    margin-left: 150px;
    margin-right:150px;
    border-collapse: separate;
    float: left;
}

.myblock {
    background-color: lightgray;
    border-color: black;
    border-width: 6px;
    font-size: 18px;
    width: 40px;
    height: 40px;
}

.enemyblock {
    background-color: dimgrey;
    border-color: black;
    border-width: 6px;
    font-size: 18px;
    width: 40px;
    height: 40px;
}
