@{
    ViewData["Title"] = "Sea Battle";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    
    
</head>

<body>

    <div class="text-center">

        <script type="text/javascript" src="~/js/scripts/StartGame.js"> </script>
        <script type="text/javascript" src="~/js/scripts/RestartGame.js"> </script>
        <script type="text/javascript" src="~/js/scripts/PlaceShip.js"> </script>
        <script type="text/javascript" src="~/js/scripts/FlipsShip.js"> </script>
        <script type="text/javascript" src="~/js/scripts/PaintShips.js"> </script>
        <script type="text/javascript" src="~/js/scripts/StartGame.js"> </script>
        <script type="text/javascript" src="~/js/scripts/Shoot.js"> </script>
        <script type="text/javascript" src="~/js/scripts/DrawAllShips.js"> </script>
        <script type="text/javascript" src="~/js/scripts/SelectThisShip.js"> </script>
        <script type="text/javascript" src="~/js/scripts/PlayerRandomlyPlaceAllShips.js"> </script>
        <script type="text/javascript" src="~/js/scripts/WriteErrors.js"> </script>
        <script type="text/javascript" src="~/js/scripts/WriteTurns.js"> </script>
        <script src="~/js/signalr/dist/browser/signalr.js"></script>

        <h1 draggable="true" class="display-4">Морской бой</h1>
        <p id="errorMessageWindow"> </p>
        <div id="shipWindow" style="shipplacingwindow">
        </div>

        


        <table cellspacing="5" class="shiptable-left">
            <thead>

            </thead>
            <tbody id="ftable">
            </tbody>
        </table>

        <table cellspacing="5" class="shiptable-right" style="float: right">
            <thead>
            </thead>
                <tbody id="stable">
            </tbody>
        </table>

        <script type="text/javascript" src="~/js/ElementContent/MakeTables.js"> </script>

        <div>
            <button id ="startbtn" onclick="StartGame()">НАчать игру</button>
        </div>

        <div>
            <button id="restartbtn" onclick="RestartGame()" type="submit">Начать заново</button>
        </div>
        
        

    </div> 
</body>
</html>

